@import "tailwindcss";

:root {
  --background: #030712;
  --background-purple: #615fff; /* Este é o seu roxo */
  --foreground: #dadbdc;
  --card: #101828;
  --danger: #ef4444;
  --success: #00d492;

  --font-lato: "Lato", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Ajuste aqui: mapeamos a chave 'purple' para a variável que tem a cor */
  --color-purple: var(--background-purple);

  --color-card: var(--card);
  --color-danger: var(--danger);
  --color-success: var(--success);

  --font-sans: var(--font-lato);
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-lato);
  }
}

/* globals.css */
@layer utilities {
  .date-icon-white::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.85;
    cursor: pointer;
  }
}
